<!DOCTYPE html>
<html>

<head>
    <title>Rentals</title>
</head>

<body>
    <h1>New Item</h1>
    <form action="{{ url_for('items.new_item') }}" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div>
        {{ form.title.label }} {{ form.title }}
      </div>
      <div>
        {{ form.description.label }} {{ form.description }}
      </div>
      <div>
        {{ form.price.label }} {{ form.price }}
      </div>
      <div>
        {{ form.location.label }} {{ form.location }}
      </div>
      <div>
        {{ form.photo.label }} {{ form.photo }}
      </div>
      <div>
        <input type="submit" value="Create">
      </div>
    </form>
</body>

</html>